@import "tailwindcss";

@theme {
  --color-sport-volt: #ccff00;
  --color-sport-cyan: #00f0ff; 
  --color-sport-obsidian: #050505; 
  --color-sport-carbon: #121212; 
  
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    @apply bg-sport-obsidian text-slate-300 antialiased;
    overflow-x: hidden;
  }
}

@layer components {
  .glass-nav {
    @apply bg-sport-obsidian/70 backdrop-blur-xl border-b border-white/10 shadow-[0_4px_30px_rgba(0,0,0,0.5)];
  }
  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-[0_8px_32px_rgba(0,0,0,0.3)] transition-all;
  }
  .diagonal-section {
    clip-path: polygon(0 0, 100% 4vw, 100% 100%, 0 calc(100% - 4vw));
  }
  .diagonal-section-reverse {
    clip-path: polygon(0 4vw, 100% 0, 100% calc(100% - 4vw), 0 100%);
  }
}